<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->


<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->
<style>
:root {

     --cover-text-color: #2c2802;
     --highlight: #c2a906;
     --section-light-bg-color: #fff9eb;
     --section-dark-text-color: var(--section-light-bg-color);
     --section-dark-bg-color: #4e3a00;
     --sticky-menu-text-color: #c7a115;
     --footer-color-background: #4e3a00;
     --footer-color: var(--section-light-bg-color);
}
</style>


<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->


<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
